{{ define "main" -}}
  <div class="card my-5">
    <div class="card-body">
      <h1>Perguntas frequentes</h1>

      <h3 class="mt-5">Quais cidades são atendidas?</h3>
      <p>Atendemos todas as cidades brasileiras.</p>
      
      <h3 class="mt-5">Vocês fazem contabilidade de empresas ativas?</h3>
      <p>Não somos um escritório de contabilidade. A PJ Park é uma empresa de tecnologia que também oferece serviços combinados de escritório e apoio administrativo.</p>

      <p><strong>Mas...</strong> temos um escritório de contabilidade parceiro. Quando uma empresa torna-se ativa o contrato com a PJ Park é rescindido e o cliente pode optar por um escritório de contabilidade com o qual temos parceria ou qualquer escritório de contabilidade de sua preferência.</p>
      
    </div>
  </div>
{{- end }}
