{{ define "main" -}}
  <div class="card my-5">
    <div class="card-body">
      <h1>Política de privacidade</h1>

      <p>A PJ Park tem como prioridade a manutenção de uma relação de confiança e no intuito de tornar claras as questões de privacidade da relação quanto aos dados coletados e armazenados, este termo ("Política de privacidade") tem a intenção de esclarecer sobre quais informações coletamos e como as utilizamos, e este deve ser aceito, observado e cumprido por todos os clientes e usuários do aplicativo PJ Park. Por sua vez, desde já, a PJ Park se obriga, nos termos da legislação em vigor e do presente termo, a garantir a privacidade dos usuários deste site.</p>
      
      <h5>1. QUAIS INFORMAÇÕES COLETAMOS?</h5>
      
      <p>A PJ Park pode recolher, gravar e utilizar em conexão com outros sites e parceiros as informações pessoais dos usuários, incluindo, mas não se limitando ao nome da empresa, nome do responsável pelo acesso, CNPJ da empresa usuária, endereço, número de telefone, interesses, atividades, tempo de abertura da empresa, etc.</p>
      
      <p>A PJ Park se resguarda o direito de gravar seu IP, tipo de navegador, aparelho e operadora de celular, posição geográfica e outros dados relativos aos usuários.</p>
      
      <p>As informações coletadas e existentes em nossos sistemas são:</p>

      <ul class="list-unstyled mb-3">
        <li class="mb-2">a) Informações que o usuário se prontifica a fornecer através de cadastro (dados pessoais, dados financeiros, dados de conta e dados de acesso), emissão de notas fiscais ou importação de extratos bancários;</li>
        <li class="mb-2">b) Informações obtidas automaticamente.</li>
      </ul>

      <p>As informações que os usuários se prontificam a fornecer são aquelas definidas como dados pessoais, dados financeiros, dados de conta e dados de acesso e que são preenchidas no momento do cadastro necessário para utilização do aplicativo PJ Park, bem como aquelas preenchidas sempre que o usuário utiliza nossos serviços através do aplicativo.</p>
      
      <p>A PJ Park coleta ainda os dados financeiros também incluídos aplicativo, através de importação de nota fiscal e/ ou no extrato bancário. E, dessa forma, coletamos informações a respeito dos dados financeiros, por exemplo, a localização onde a nota fiscal é emitida, o banco utilizado pelo usuário, entre outros. Coletamos também informações sobre você quando outro usuário emite nota fiscal para você através dos nossos serviços.</p>
      
      <p>Quando o usuário realiza possíveis pagamentos aplicativo, a PJ Park coletará informações sobre o pagamento, o que inclui informações de conta, dados de faturamento, número de cartão de credito ou débito, etc.</p>
      
      <p>Nenhuma consequência poderá ocorrer da recusa em preencher tais informações, exceto que o usuário não poderá obter o benefício de utilização dos serviços. As informações coletadas automaticamente não são informações pessoais, mas sim sobre os computadores, smartphones ou outros dispositivos que o usuário utiliza para acessar o aplicativo, bem como o nome de domínio do seu provedor de acesso à internet, o endereço de protocolo IP utilizado para se conectar ao aplicativo, o tipo e versão do browser do usuário, o sistema operacional, o tempo médio gasto aplicativo, as páginas visitadas aplicativo, as informações procuradas, os horários de acesso e outras estatísticas relevantes para o fornecimento de serviço.</p>
      
      <h5>2. O QUE FAZEMOS COM AS INFORMAÇÕES COLETADAS?</h5>

      <p>A PJ Park não divulga publicamente nem a terceiros suas informações de modo que possam identificá-lo. A PJ Park busca sempre manter a sua privacidade enquanto estiver utilizando o serviço, mas poderá utilizar as informações fornecidas ou aquelas obtidas automaticamente de forma agregada no intuito de realizar análises, estudos, melhorias do sistema ou por força de ordem judicial.</p>
      
      <p>A PJ Park é entusiasta no sentido de criar novas experiências para atender possíveis demandas nascentes. Por isso, usamos todas as informações que temos para apoiar nossos serviços, melhorá-lo ou atender novas demandas a partir das informações obtidas.</p>
      
      <p>Por isso, tanto as informações que o usuário se prontifica a fornecer quanto as informações coletadas automaticamente são utilizadas para mensurar o uso do aplicativo, bem como para administrar os serviços prestados, aperfeiçoá-lo e identificar possíveis necessidades dos usuários.</p>
      
      <p>A PJ Park envia e-mails, e o usuário desde já autoriza que ela o faça, com alertas e comunicados relacionados às funções do aplicativo no intuito permitir que o usuário explore todas as suas funcionalidades, bem como com informações relevantes à contabilidade, planejamento financeiro ou questões referentes à gestão empresarial, entre outros tipos.</p>
      
      <p>A PJ Park poderá oferecer serviços personalizados, conduzir pesquisas e testar recursos em desenvolvimento.</p>
      
      <p>Além disso, a PJ Park usa as informações para oferecer serviços mensais de assessoria administrativa e fiscal e serviços combinados de escritório e apoio administrativo diretamente aplicativo.</p>
      
      <p>As informações não serão divulgadas, vendidas ou alugadas para qualquer organização ou entidade, tampouco com elas será feita permuta sem antes comunicar ao usuário e obter seu consentimento expresso, com exceção de informações exigidas por leis ou por ordem judicial.</p>
      
      <p>Os "cookies" depositados nas máquinas dos usuários não coletam informações identificadoras do usuário, mas apresentam informações de forma global e são necessários para aperfeiçoar a navegação aplicativo. A PJ Park contabiliza os números de visitas em seu site e em todas as suas páginas subjacentes, inclusive mediante utilização de cookies, de forma a melhorar a qualidade dos serviços prestados.</p>
      
      <p>As análises estatísticas e genéricas sobre o comportamento dos usuários poderão ser compartilhadas, mas o usuário nunca será individualmente identificado. Ao preencher o formulário e fornecer as informações à PJ Park, o usuário declara que permite o processamento de dados pessoais conforme estabelecido neste termo.</p>
      
      <p>O aplicativo pode conter links a outros web sites, e a presente declaração de privacidade não abrange os referidos sites, não podendo a PJ Park ser responsabilizada pelas práticas de privacidade de outros sites.</p>
      
      <p>A PJ Park reserva-se o direito de alterar a presente política a qualquer tempo, informando o usuário no prazo de 30 (trinta) dias antes do início de sua vigência para que o usuário tome ciência e expresse nova concordância. Caso o usuário não concorde com a nova política, deve informar tão logo tome ciência da alteração, de modo a viabilizar uma regular rescisão contratual entre a empresa e o usuário, observados sempre o contrato de prestação de serviços e a política de armazenamento de informações vigentes no presente momento.</p>
      
      <h5>3. DO ARMAZENAMENTO E EXCLUSÃO DAS INFORMAÇÕES E DADOS PESSOAIS</h5>

      <p>O usuário poderá ter acesso às suas informações pessoais que inclui no momento do cadastro e às informações que incluiu aplicativo através do acesso ao aplicativo.</p>
      
      <p>A PJ Park armazenará todos os dados e informações pelo tempo que entender necessário e até a exclusão de sua conta e rescisão de contrato de prestação de serviços.</p>
      
      <p>O usuário poderá realizar a exclusão de sua conta a qualquer momento, bastando fazê-lo também através do aplicativo, respeitadas as obrigações existentes no contrato de prestação de serviços.</p>
      
      <p>Quando o usuário exclui sua conta e rescinde o contrato, os dados pessoais serão excluídos, porém são mantidas as informações de guarda obrigatória, conforme determinação legal.</p>
      
      <p>Caso o usuário tenha qualquer dúvida quanto à presente política de privacidade, poderá entrar em contato com a PJ Park através do aplicativo ou atendimento online junto ao site <a href="https://pjpark.com.br">https://pjpark.com.br</a>.</p>
      
      <h5>4. DEFINIÇÕES</h5>

      <p>4.1. PJ Park - Quando mencionamos "PJ Park" no presente termos, o usuário deve ter ciência que referimo-nos à empresa PJ Park LTDA. (CNPJ 36.489.120/0001-41), a qual é empresa desenvolvera do aplicativo PJ Park e detentora de todo e qualquer direito relacionado a ela.</p>
      
      <p>4.2. USUÁRIO - Pessoa física ou jurídica que aderiu aos termos e aceitou as condições dos <a href="/termos-de-uso">Termos de Uso</a> para utilização do aplicativo PJ Park e pessoa física ou jurídica que contratou os serviços da empresa PJ Park LTDA nos termos do contrato de prestação de serviços e de licença de software.</p>
      
      <p>4.3. APLICATIVO - programa de computador acessado através de um navegador onde o usuário insere todas as informações que possibilitam o acesso ao sistema e, consequentemente, a utilização dos serviços mensais de assessoria administrativa e fiscal e serviços combinados de escritório e apoio administrativo;</p>
      
      <p>4.4. SITE: <a href="https://pjpark.com.br">https://pjpark.com.br</a></p>
      
      <p>4.5. DADOS PESSOAIS - quaisquer dados incluídos pelo usuário no aplicativo/ site e que permitam a identificação do usuário, os quais incluem nome, e-mail, CNPJ, endereço de sede da empresa, etc.;</p>
      
      <p>4.6. DADOS DE CONTA - quaisquer dados que o usuário insira aplicativo/ site ao se cadastrar no site, como, por exemplo, dados de conta bancária, número de agência e conta bancária, bem como quaisquer outros dados bancários, inclusive cartões de crédito dos usuários.</p>
      
      <p>4.7. DADOS FINANCEIROS - qualquer informação passível de identificação no momento da importação de nota fiscal e/ ou extrato bancário, bem como informações sobre o pagamento, o que inclui informações de conta, dados de faturamento, número de cartão de credito ou débito, informações referentes à dívidas ou investimentos, etc.</p>
      
      <p>4.8. DADOS DE ACESSO - informações coletadas de usuários no momento da navegação referentes ao domínio do seu provedor de acesso à internet, o endereço de protocolo IP, o sistema operacional, data e cidade de acesso, etc.</p>
      
      <p class="mt-5"><i>Atualização: 15 de fevereiro de 2022.</i></p>
    </div>
  </div>
{{- end }}
