{{ define "main" -}}
  {{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.MainSections -}}
  {{- $paginator := .Paginate $pages -}}

  <div class="my-5">
    {{ range $paginator.Pages }}
      <div class="card mb-3">
        <div class="card-body">
          <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  
          <div>{{ .Summary }}</div>
  
          <div class="mt-5"><a href="{{ .Permalink }}" class="btn btn-primary">Leia mais</a></div>
        </div>
      </div>
    {{- end }}
      
    {{ template "_internal/pagination.html" . }}
  </div>
{{- end }}
