<div class="container-fluid mt-2 mb-3 rodape">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 mt-3">
        <p>Sua empresa está inativa? Abandonar um CNPJ não é a melhor decisão. Não deixe ela abandonada. Deixe na mão de quem entende! Estacione seu CNPJ na PJ Park. Na PJ Park a gente cuida do seu CNPJ para você voltar e usá-lo quando precisar.</p>
        <p><a href="mailto:contato@pjpark.com.br">contato@pjpark.com.br</a></p>
      </div>
      <div class="col-md-3 mt-3">
        <p><strong>A EMPRESA</strong></p>
  
        <ul class="list-unstyled">
          <li><a href="/#sobre">Sobre nós</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
      <div class="col-md-3 mt-3">
        <p><strong>SERVIÇOS</strong></p>
  
        <ul class="list-unstyled">
          <!-- <li><a href="/trocar-de-contador">Trocar de contador</a></li> -->
          <li><a href="/servicos">Servicos</a></li>
          <li><a href="/planos">Quanto custa?</a></li>
          <!-- <li><a href="/cidades-atendidas">Cidades atendidas</a></li> -->
        </ul>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        Av. Carneiro Leão, 563 - Zona 01, Maringá - PR, 87014-010 - CNPJ 36.489.120/0001-41
      </div>
    </div>
  </div>
</div>

<footer class="text-center">
  <ul class="list-unstyled">
    <li><a href="/faq">Perguntas frequentes</a></li>
    <li><a href="/termos-de-uso">Termos de Uso</a></li>
    <li><a href="/politica-de-privacidade">Política de Privacidade</a></li>
  </ul>
</footer>
