<header>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class=container>
      <a class=navbar-brand href="/"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0118 0z"/><circle cx="12" cy="10" r="3"/></svg> PJ Park</a>
      <button class=navbar-toggler type=button data-bs-toggle=collapse data-bs-target=#navbarSupportedContent aria-controls=navbarSupportedContent aria-expanded=false aria-label="Toggle navigation">
        <span class=navbar-toggler-icon></span>
      </button>
      <div class="collapse navbar-collapse" id=navbarSupportedContent>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class=nav-item><a class="nav-link active" href="/">Página inicial</a></li>
          <li class=nav-item><a class="nav-link active" href="/baixa-de-empresa">Baixa de empresa</a></li>
          <li class=nav-item><a class="nav-link active" href="/servicos">Serviços adicionais</a></li>
          <li class=nav-item><a class="nav-link active" href="/planos">Quanto custa</a></li>
          <li class=nav-item><a class="nav-link active" href="/blog">Blog</a></li>
        </ul>
        <div class=menu-actions>
          <a href="https://app.pjpark.com.br" class="btn btn-light btn-login">Login</a>
          <a href="https://app.pjpark.com.br/users/sign_up" class="btn btn-secondary">Quero ser cliente</a>
        </div>
      </div>
    </div>
  </nav>
</header>
